/* === GENERAL === */

/* Reset some theme overrides */

/* Texts */

p,
ul.lead,
article .article__body p,
article .article__body ul,
.legal .main-container ul ul {
    font-size: 1.35714286em;
	font-weight: 300;
    line-height: 1.357em;
	color: #49494A;
}

p:not(:last-child),
.lead:not(:last-child) {
    margin-bottom: 1.36842105263158em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #201915;
	line-height: 1.08365em;
}

p a,
span a,
label a {
    text-decoration: none;
    line-height: 1.357em;
}

.home .tile a,
.home .tile a:hover,
.project-thumb a,
.project-thumb a:hover {
    text-decoration: none;
}

.product-claim {
    /* This always is combined with .h2 */
    letter-spacing: -0.01em;
    font-weight: 400;
}

ul.bullets li,
article .article__body ul li {
    list-style: disc;
    margin-left: 2em;
    padding-left: .25em;
}

article .article__body p,
article .article__body ul {
    letter-spacing: -0.01em;
}

article .article__body ul li p {
    /* p and ul both have a relative font size in ems.
       These should not be nested, otherwise the resulting
       font size for p is wrong. See e.g. eolos */
    font-size: 1em;
}

.note {
    font-size: 1em;
    line-height: 1.6em;
}

/* Misc */

.unmarg--top {
    /* Make this !important */
    margin-top: 0 !important;
}

@media all and (min-width: 768px) {
    .slider-side-text {
        /* Stack sliders with data-paging=true add a bottom
         * margin to account for the page dots. Use this class
         * to add the same margin to a block of text shown in
         * the same .row as the slider.
         */
        margin-bottom: 3.71428571em;
    }
}

table {
    /* Stack sets border-collapse to 'separate', which hides the
     * borders between rows. Restore the original Bootstrap setting.
     */
    border-collapse: collapse;
}

hr {
    /* Restore Bootstrap's default color and margins */
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

hr:first-child {
    /* Stack sets this margin to zero; we want to use the same margin
     * as in all other hr elements. Important for the section separator
     * in the downloads table.
     */
    margin-top: 1em;
}

.videobg .container {
    /* Stack hides the .container while the video is loading,
     * but this means that the content is not visible until the
     * video has loaded. Revert this.
     */
    opacity: initial;
}

.videobg.video-active .loading-indicator {
    /* Stack hides the loading indicator using the opacity and
     * visibility attributes. Also set display: none so that the
     * browser does not need to animate the indicator.
     */
    display: none;
}

@media all and (min-width: 767px) {
    /* Stack only applies this for min-height: 600px; remove that
     * restriction.
     */
    .height-90 {
        height: 90vh;
    }
}

/* Animations */

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fadeInOut.tabs-container .tabs-content > li:not(.active) .tab__content,
.fadeInOut.tabs-container .tabs--vertical .tabs-content > li:not(.active) .tab__content {
    animation-name: fadeOut !important;
    -webkit-animation-name: fadeOut !important;
}
.fadeInOut.tabs-container .tabs-content > li.active,
.fadeInOut.tabs-container.tabs--vertical .tabs-content > li.active .tab__content {
    animation-name: fadeIn !important;
    -webkit-animation-name: fadeIn !important;
}
.fadeLeftRight.tabs-container .tabs-content > li:not(.active) .tab__content,
.fadeLeftRight.tabs-container.tabs--vertical .tabs-content > li:not(.active) .tab__content {
    animation-name: fadeOutRight !important;
    -webkit-animation-name: fadeOutRight !important;
}
.fadeLeftRight.tabs-container .tabs-content > li.active,
.fadeLeftRight.tabs-container.tabs--vertical .tabs-content > li.active .tab__content {
    animation-name: fadeInLeft !important;
    -webkit-animation-name: fadeInLeft !important;
}

/* === MENU === */

.bar .logo {
    top: 0px;
}

.bar .menu-horizontal {
    top: 0px;
}

.bar.pos-fixed:not([class*='bg-']) {
    background: rgba(255,255,255,0.9);
}

.bar.pos-fixed {
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	        backdrop-filter: saturate(180%) blur(20px);	
	background-color: rgba(255,255,255,0.9);
	border-bottom: 1px solid lightgrey;
}

.menu-horizontal > li:not(:hover) > a,
.menu-horizontal > li:not(:hover) > span,
.menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
    opacity: 1;
}

.menu-vertical li:not(:hover):not(.dropdown--active) {
    opacity: 1;
}

.menu-horizontal > li,
.menu-vertical > li {
    /* Missing from font-roboto.css */
    font-family: 'Roboto', 'Verdana', 'Helvetica', 'sans-serif';
}

.bar-1 .menu-horizontal > li > a {
    font-weight: 400;
}

.bar-1 .menu-horizontal > li > .dropdown__trigger,
.bar-1 .menu-horizontal > li > a {
    font-weight: 400;
	font-size: 14px;
    letter-spacing: 1px;
}

img.flag {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    margin-bottom: 3px;
	padding-right: .5em;
}

#navmenu .form-inline {
    padding-top: 12px;
}

#navmenu {
    border-bottom: 2px solid  rgba(233, 233, 233, .8);
}

@media (min-width: 768px) {
    #navmenu {
        border-bottom: none;
    }
}    

/* === FOOTER === */

footer .list-inline {
    display: block;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

footer .list-inline li:not(:last-child) {
    margin-right: 1.1em;
}

footer .footer-links a:hover {
    text-decoration: underline !important;
}

footer .newsletter-link {
    /* Revert opacity: 0.5 from type--fine-print.
       This affects the text and the subscribe button */
    opacity: 1 !important;
    /* Compensate extra padding in subscribe button */
    margin-top: -.3em;
}

footer .newsletter-link span {
    /* Reapply opacity to text only */
    opacity: 0.5 !important;
}

footer .newsletter-link a {
    background: rgb(0, 96, 177);
    padding: .3em 1em .5em;
    margin-left: 1.3em;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    border-radius: 3px;
}

footer .newsletter-link a:hover {
    background: rgba(0, 96, 177, .5);
}

footer .socicon-facebook {
    /* Adjust spacing */
    margin-left: -3px;
}

/* List inline is stacked on xs by default, except for
 * .social-list or list-inline--images. Revert that for
 * the footer logos. */

footer .list-logos li {
    display: inline-block !important;
}

footer .list-logos li:not(:last-child) {
    margin-right: 1.1em !important;
}

@media all and (max-width: 767px) {
    footer .list-logos {
        text-align: center;
    }
}

/* === HOME === */

.home .masonry__item {
    /* Override bootstrap default column gutter. */
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px;
}

.home section.tiles {
    /* Remove outer margins */
    margin-left: -7px;
    margin-right: -7px;
}

.home .main-container {
    /* The negative margins above enables horizontal scrolling
     * on mobile, solve that by setting overflow-x: hidden in
     * the parent container.
     */
    overflow-x: hidden;
}

.home section + section {
    padding-top: 14px;
}

.home .tile {
    height: 550px;
    padding: 3em 0;

    /* Make sure the .background-image-holder is sized to fill the parent
     * .tile div and not the containing bootstrap col.
     */    
    position: relative;
}

.title-tiles {
    font-size: 1.78571429em;
    line-height: 1.08365em;
	margin-bottom: 10px;
	font-weight: 600;
	color: #201915;
}

.subtext-tiles {
    /* Note: also used in product grid and references page */
    font-size: 1.35714286em;
    line-height: 1.357em;
	font-weight: 400;
	margin-bottom: 10px;
	color: #49494A;
}

.links-tiles {
    /* Note: also used in references page */
    font-size: 1.2em;
    line-height: 1.357em;
	font-weight: 400;
	color: #06c;
}

.tile-bgblack .title-tiles,
.tile-bgblack .subtext-tiles,
.tile-bgblack .links-tiles {
    color: white;
}
.tile-bgblack .links-tiles {
    font-weight: bold;
}

/* === PRODUCTS === */

.product-grid .masonry__item {
    /* Override bootstrap default column gutter. */
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px;
}

.product-grid .project-thumb {
    /* Make sure the .background-image-holder is sized to fill the parent
     * .project-thumb div and not the containing bootstrap col.
     */
    position: relative;
}

.product-grid .background-image-holder {
    /* In script.js, a background: url(...) shorthand property is added to
     * each background-image-holder div; thus we must use !important for all
     * overrides.
     */
}

/*
.product-grid #verso {
    background: #c3faf5;
}

.product-grid #versoip {
    background: #cae9fe;
}

.product-grid #hc3 {
    background: #fff5ec;
}

.product-grid #hc3l {
    background: #ecebf9;
}

.product-grid #homeserver {
    background: #ffeff2;
}

.product-grid #ps-k640 {
    background: #f0f0f0;
}

.product-grid #dw-gsm {
    background: #f0fafc;
}

.product-grid #dw-ts-n1p {
    background: #fcfbf9;
}
*/

/* === VERSO === */

.acabados-verso {
    padding: 0 15% 0 15%;
	margin: 2em;
}

img.acabados {
    width: 25px;
    margin-right: 8px;
}

div.store-links {
    margin-left: -15px;
}

div.store-link {
    width: 200px;
    display: inline-block;
}

div.store-link.app-store img {
    /* Same margin and size as the Google Play image */
    margin: 6%;
    width: 88%;
}

@media (max-width: 767px) {
    /* Add overlay on mobile only */
    .overlay-80-xs:before {
        opacity: 0.8;
    }
    .overlay-70-xs:before {
        opacity: 0.7;
    }
}

/* === HCx === */

.black.bg--dark {
    background: #000000;
}

.tabs li {
    display: inline-block;
}

/* === IDDERO-CONFIG === */

.iddero-config .pricing li {
    padding-left: 1.7em;
}

.iddero-config .pricing .checkmark {
    width: 1em;
    height: 1em;
    font-size: 1em;
    position: relative;
    margin-left: -1.7em;
    margin-right: 0.7em;
}

.iddero-config .pricing .checkmark:before {
    font-size: 14px;
    left: 1px;
}

/* === REFERENCES === */

.references-grid .project-thumb {
    margin-bottom: 1.5em;
}

.references-grid .project-thumb > a {
    /* Override Stack's default margins */
    margin-bottom: 1.5em;
}

/* Articles */

article .article__title {
    margin-bottom: 0em;
}

.article-image {
    text-align: center;
    padding: 15px 0;
}

img.polaroid {
    border: 10px solid #fff;
    border-bottom-width: 25px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}

.image-caption {
    margin-top: 0.5em;
    display: inline-block;
    font-style: italic;
}

/* === FORMS === */

/* Override some Stack defaults */

.input-select:after {
    /* Unicode for 'down arrowhead' */
    content: '\2304';
}

.input-checkbox {
    vertical-align: middle;
}

.input-checkbox + label {
    vertical-align: middle;
    padding-left: .5em;
    /* Match margin-top of .input-checkbox */
    margin-top: 0.46428571em;
}

.input-checkbox > label {
    /* There's a margin-top in .input-checkbox, plus an additional
       margin-top on all form labels for max-width: 990px. Remove
       the latter for the nested label */
    margin-top: 0;
}

form.row {
    /* If a form is a .row, remove the max-width: 100%
     * set by Stack, since this doesn't play well with the
     * row's negative L/R margins.
     */
    max-width: initial;
}

@media (max-width: 767px) {
    /* Otherwise, if the form contains a .row, Stack sets
     * L/R margins to 0 for mobile, restore Bootstrap's
     * defaults to make the form full width.
     */
    .row form > .row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/* Additional form classes */

.form-label {
    font-size: 16px;    /* Match size of form fields */
	font-weight: 300;
    line-height: 1.357em;
	color: #49494A;
}

.form-note {
    padding-top: 1em;
}

/* Page-specific */

.contact .article__title h1 {
    /* Match Stack style for blog page headers */
    margin-bottom: 0.29545454545455em;
}

.contact .form-result {
    padding-top: 1em;
}

.contact .imageBullet {
    vertical-align: top;
    width: 36px;
    /* Note, img inside .imageBullet has max-width:100%,
     * which means image must fit within 36px - padding.
     */
    padding-left: 0;
    padding-right: 0;
    /*
    position: relative;
    left: -0.5em;
    */
}

/* === LEGAL === */

.legal .main-container p,
.legal .main-container ul {
    margin-bottom: 1em;
}
.legal .main-container h2 {
    margin-top: 1em;
    margin-bottom: .8em
}
.legal .main-container h2:first-of-type {
    margin-top: 0;
}
.legal .main-container ul ul li {
    list-style: disc outside;
    margin-left: 2em;
}
.legal .updated {
    font-style: italic;
    margin-top: 3em;
    margin-bottom: 3em;
}

/* === DOWNLOADS === */

table.downloads-table {
    /* Stack sets font-size to 87.5% in html, fix that */
    font-size: initial;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

table.downloads-table tr:not(:last-of-type) {
    /* Remove default Stack borders, we set our own */
    border-bottom: none;
}

tr.category td {
    padding-top: 0;
    text-align: left;
    font-size: 22px;
    font-weight: 400;
}

tr.category:first-child td hr {
    /* Each tr.category contains a HR to separate section.
     * Hide it for the first row. */
    display: none;
}

tr.file {
    border-top: solid 1px #f0f0f0;
}

tr.category+tr.file {
    border-top: 0;
}

td.download-link a {
    padding-left: 30px;
    background-image: url("/img/download/icon-download.png");
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 25px;
    display: block;
    font-weight: 400;
}

td.download-link.youtube a {
    background-image: url("/img/download/icon-youtube.png");
}

td.download-type {
    width: 15%;
    padding-left: .75rem;
    text-align: left;
}

td.download-type span {
    padding-left: 30px;
    background-size: 25px 25px;
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 25px;
    display: block;
    font-weight: 400;
    white-space: nowrap;
}

td.download-size {
    width: 11%;
    text-align: left;
    white-space: nowrap;
}

td.date {
    width: 11%;
    text-align: left;
    white-space: nowrap;
}

span.download-icon-pdf {
    background-image: url("/img/download/icon-pdf.png");
}

span.download-icon-bin {
    background-image: url("/img/download/icon-bin.png");
}

span.download-icon-exe {
    background-image: url("/img/download/icon-exe.png");
}

span.download-icon-knxprod {
    background-image: url("/img/download/icon-knxprod.png");
}

/* On mobile (< 768px), only show the download links and file sizes,
 * and drop any other additional info and decorations.
 * Also in the downloads page (but not in product pages) the sections
 * menu and the file list will stack vertically, so add a separator and
 * some extra padding.
 *
 * We use the same breakpoint as for Stack's hidden-xs class.
 */
@media (max-width: 767px) {
    td.download-link a {
        padding-left: 0;
        background: none !important;
    }

    td.date,
    td.download-type {
        display: none;
    }

    td.download-size {
        text-align: right;
        font-size: small;
    }

    tr.file td {
        width: initial;
        vertical-align: baseline;
    }
}